.event {
    width: 100vw;
    height: auto;
}

.container-event {
    border: solid 4px rgb(43, 27, 27);
    margin: 1.5% 5% 5% 5%;
    width: 90%;
    background-color: rgba(13, 0, 0, 0.9);
    color: white;
    letter-spacing: 1px;
}

.event-container-description {
    max-width: 95%;
}

.container-event h1 {
    font-size: 2vw;
    font-style: italic;
    text-align: center;
    color: rgb(255, 102, 0);
}

.container-event h2 {
    font-size: 1.5vw;
    color: red;
}

.event-image {
    width: 25vw;
    /* height: 25%; */
}

.container-event p {
    font-size: 1.2vw;
}

.container-event span {
    font-size: 1.2vw;
}

.icone-calander{
    width: 10%;
    height: 10%;
}

.icone-lieux {
    width: 6%;
}

.icone-telephone {
    width: 5%;
    height: 5%;
}

.inpute-calander {
    width: 40%;
    height: 25%;
    font-size: 1.2vw;
}

.container-event button {
    font-size: 1.2vw;
    font-weight: bold;
    padding: 2%;
    border-radius: 4px;
    cursor: pointer;
    background-color: red;
    color: white;
}

