.acceuil li {
    list-style: none;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border: solid black 2px;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.7);
}

.agenda-info {
    width: 50%;
    word-wrap: break-word;
    margin-left: 4%;
}

.acceuil ul {
    border: solid rgb(204, 6, 6) 4px;
    background-color: transparent;
    color: white;
    letter-spacing: 1px;
    background-color: rgba(80, 9, 9, 0.8);
}

.acceuil li img {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 4%;
    width: 50%;
    height: 50%;
    min-width: 30%;
    min-height: 30%;
}

.acceuil-menu {
    width: 20vw;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: white;
}

.acceuil-menu input {
    border-color: aqua;
    height: 4vh;
    border-radius: 5px;
    font-size: 2.2vh;
    width: 85%;
}

.acceuil-menu select {
    height: 4vh;
    width: 85%;
    border: solid 2px aqua;
    border-radius: 5px;
    font-size: 2.2vh;
}

.acceuil-menu option {
    font-size: 2.2vh;
}

.acceuil-menu label {
    font-size: 3vh;
    font-style: italic;
}

.btn-savoir-plus {
    width: 120%;
    position: relative;
    top: 94%;
    right: 40%;
    font-size: 2.6vh;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    padding: 5% 5% 5% 5%;
    border: none;
}

.container-btn-savoir-plus {
    width: 20%;
}