nav {
    width: 95vw;
    height: 15vh;
    border: solid 2px black;
    border-radius: 10px;
    /* background-color: rgba(80, 9, 9, 0.8); */
    color: rgb(1, 46, 21);
}

nav input {
    border-radius: 5px;
    width: 70%;
    padding: 2% 4% 2% 4%;
    font-size: 1.2vw;
}

nav form button {
    border-radius: 5px;
    padding: 0% 5% 0% 5%;
    cursor: pointer;
    font-size: 1vw;
    background-color: black;
    color: red;
}

.logo {
    width: 90%;
    height: 90%;
}

.container-logo {
    width: 8%;
    height: 100%;
    position: relative;
    margin-right: 20%;
    cursor: pointer;
}

.container-icone-profil {
    width: 5%;
    height: 70%;
    position: relative;
    margin-left: 22%;
}

.icone-utilasteur {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.icone-utilasteur:hover {
    transition: 0.2s;
    scale: 1.2;
}

.container-icone-profil p {
    font-size: 1.2vw;
}