.container-profil {
    border: solid 3px black;
    margin: 2% 5% 2% 5%;
    width: 90%;
    padding-bottom: 2%;
}

.photo-profil {
    width: 20%;
    max-width: 300px;
    border-radius: 50%;
}

.profil-presentation {
    max-width: 50%;
    letter-spacing: 1px;
    background-color: rgba(143, 143, 143, 0.5);
    padding: 1% 1% 1% 1%;
    margin: 1%;
}

.sortie {
    width: 70%;
    border: solid black 2px;
    margin: 2% 15% 0% 15%;
}

.img-sortie {
    width: 12%;
}

.profil-sortie-container-info {
    width: 55%;
}

.profil-sorti-container-btn {
    width: 28%;
}

.profil-sorti-container-btn button {
    width: 60%;
    height: 30%;
}